
body, header, nav, main, footer, h1, div, img, ul, section, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body{
    background-color: #000;
}

*{
    box-sizing: border-box;
}

#companyname {
    font-size: xxx-large;
    margin: 0em 0.7em 0em 0em;
    background-color: black;
    text-align: right;
    color: white;
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
}

.companylayout{
    width: 70%;
    float: right;
    margin: 0px 56px 0px 0px;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000;
    height: 190px;
}

header img{
    margin: 0 auto;
}

/* Style for rules for navigation area */
nav{
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: "Francois One", sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child{
    border-top: none;
    float: left;
}

nav li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for footer content */
footer p{
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a{
    color: #fff;
    text-decoration: none;
}


ul{
    list-style-type: square;
}

ol{
    list-style-type: upper-roman;
}

ul{
    list-style-image: url(arrow.png);
}

#contact{
    text-align: center;
    background-color: black;
}

#contact .contact-email-link{
    color: white;
    text-decoration: none;
}

#contact a{
    color: white;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print{


/* Tablet Viewport: Show tablet-desktop class, hide mobile class */

    .tablet-desktop{
        display: block;
    }

    .mobile{
        display: none;
    }

    /* Tablet Viewport: Style rule for header */

    header{
        position: static;
        padding-bottom: 2%;
    }

    /* Tablet Viewport: Style rules for nav area */

    nav li{
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child{
        border-right: none;
    }

    nav li a{
        padding: 0.1em 0.75em;
    }

    /* Tablet Viewport: Style rules for main content area */

    main ul{
        margin: 0 0 4% 10%;

    }

    .grid{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }

    .grid-item4{
        grid-column: 1/span 3;
    }

    .pic-text{
        font-size: 1em;
        padding: 10px;
    }


    #excercises{
        clear: left;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background-color: #f2f2f2;
        padding: 1% 2%;
        background: linear-gradient(to right, #ccc, #fff);
    }

    #excercises dt{
        font-weight: bold;
    }

    #excercises dd{
        padding: 0.5% 1% 2% 0;
    }

    .tel-num{
        font-size: 1.25em;
    }

    .map{
        width: 600px;
        height: 450px;
    }

    /* Tablet Viewport: Style rules for table */
    table {
        border: 1px solid #000;
        border-collapse: collapse;
        margin: 0 auto;
        width: 100%;
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%
    }

    th, td {
        border: 1px solid #000;
        padding: 2%;
    }

    th {
        background-color: #000;
        color: white;
        font-size: 1.15em;
    }

    tr:nth-child(odd) {
        background-color: #ccc;
    }
}

/*Desktop Viewport: Style rule for header*/
@media screen and (min-width: 1015px), print{

    header{
        width: 25%;
        float: left;
        padding-bottom: 0;
    }

    img{
        max-width: 50%;
        display: block;
    }
    /*Desktop Viewport: Style rules for nav area*/

    nav{
        float: right;
        width: 70%;
        margin: 1em 3em 0em 0em;
    }

    nav ul{
        text-align: right;
        padding-right: 23px;
    }
    article h3{
        font-size:1.75em;
    }

    nav li{
        border: none;
    }

    nav li a{
        padding: 0.5em 1em;
    }

    nav li a:hover{
        color:#000;
        background-color: #fff;
    }


    /*Destop Viewport: Style Rules for main content*/

    main{
        clear: left;
        margin-left: 130px;
        margin-right: 130px;
    }

    main h1{
        font-size: 1.8em;
    }

    .pic-text{
        font-size: 1.5em;
        padding: 20px;
        text-align: center;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        width: 100%;
        padding: 10px;
        text-align: center;
        font-family: Verdana, Arial, sans-serif;
        font-size: 1.5em;
        font-weight: bold;
    }

    form {
        width: auto;
    }
    .form-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }

    .frame{
        opacity: 0.9;
    }

    .frame:hover{
        opacity: 1;
        box-shadow: 8px 8px 10px #808080;
    }

    #feature-strip{
        max-width: 100%;
        height: 36px;
        display: block;
        background-color: black;
        color: white;
        margin: 0em 55px 1em 4em;
        text-align: center;
        font-size: xx-large;
        font-family: 'Gravitas One';
    }

    .featureimage {
        display: block;
        margin: auto;
        height: 180px;
        width: 299px;
        margin-top: 1em;
    }

    #searchbox {
        width: 400px;
        height: 40px;
        padding-top: 5px;
        border-radius: 53px;
        text-align: center;
    }

    #adv {
        width: 100%;
        display: flex;
        height: 150px;
        align-content: center;
    }

    #introvideo {
        max-width: 100%;
        display: block;
        align-content: center;
        margin: 0em 0em 0em 5em;
        text-align: center;
    }

    #promotionimage {
        max-width: 100%;
    }
    #information {
        color: black;
        background-color: white;
        width: 89%;
        margin: 1em 0em 0em 5em;
        display: flex;
    }

    #introduction {
        width: 50%;
        padding: 15px;
        margin: 31px;
        border-style: solid;
        border-color: green;
        border: solid;
        border-radius: 56px;
    }

    #buyfromlink {
        font-size: 1.3em;
        color: #666600;
        font-weight: bold;
        text-shadow: 5px 5px 8px #ccc;
    }

    #foodscaleintroimage {
        width: 49%;
        height: 396px;
    }

    .grid{
        color: black;
        width: 89%;
        margin: 1em 0em 0em 5em;
        display: grid;
        background-color: white;
        grid-template-columns: auto auto auto;
        grid-gap: 150px;
        align-content: stretch;
        justify-content: center;
        justify-items: center;
        align-items: end;
    }

}

/* Media Query for Large Desktop Viewports*/
@media screen and (min-width:1921px){

    #container{
        width: 1920px;
        margin: 0 auto;
    }

    table {
        width: 80%;
    }
}

/*Media Query for print*/

@media print{
    body{
        background: #fff;
        color:#000
    }

}
